@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-intensy-background: #052051;
    --color-secundary-background: #D9B4D5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #98CAFF;
    color: var(--color-intensy-background);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: left;
    padding: 20px;
    background-color: #98CAFF;
}

.logo {
    width: 100px;
    height: auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.left{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 90%;
}

.right{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}
.imagen{
    width: 800px;
    height: auto;
}
.main__textarea, .main__box {
    width: 100%;
    max-width: 600px;
}

.textarea, .box__textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    resize: none;
    background-color: var(--color-intensy-background);
    color: #FFFFFF;
    font-size: 16px;
}

.main__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}

button {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.encrypt {
    background-color: #D9B4D5;
    color: var(--color-intensy-background);
}

.encrypt:hover {
    background-color: var(--color-intensy-background);
    color: var(--color-secundary-background);
}

.decrypt {
    background-color: var(--color-secundary-background);
    color: var(--color-intensy-background);
}

.decrypt:hover {
    background-color: var(--color-intensy-background);
    color: var(--color-secundary-background);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-intensy-background);
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

@media(max-width: 768px) {
    .main__buttons {
        flex-direction: column;
        width: 90%;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}

@media(max-width: 480px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__textarea, .main__box {
        width: 90%;
        margin: 0 auto;
    }

    .textarea, .box__textarea {
        width: 100%;
        height: 120px;
        font-size: 14px;
        margin-bottom: 20px; /* Añadido para mantener el espaciado */
    }

    .main__buttons {
        width: 90%;
        flex-direction: column;
    }

    .main__buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}

